body{
    background-color: rgb(158, 58, 105);
    color: white;
    font-family: sans-serif;
}

.container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.tasks{
    background-color: lightseagreen;
    border: 5px rgb(40, 16, 48) solid;
}

.title{
    background-color: rgb(65, 22, 78);
    border-bottom: 5px rgb(40, 16, 48) solid;
    margin-top: 0;
    padding: 10px 100px;
}

.task{
    background-color:rgb(96, 43, 112);
    border: 1px solid rgb(40, 16, 48);
    text-align: center;
    padding: 10px;
}

.active{
    background-color: white;
    color: rgb(96, 43, 112);
}